<h2>Agregar Nuevo Proveedor</h2>

<form [formGroup]="providerForm" (ngSubmit)="addProvider()">
    <label for="cif">CIF:</label>
    <input id="cif" formControlName="cif" type="text" required />
    <small *ngIf="formSubmitted && providerForm.get('cif')?.invalid" class="error">El CIF es obligatorio.</small>

    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="name" type="text" />

    <label for="actividad">Actividad:</label>
    <input id="actividad" formControlName="activity" type="text" />

    <label for="direccion">Dirección:</label>
    <input id="direccion" formControlName="address" type="text" />

    <label for="localidad">Localidad:</label>
    <input id="localidad" formControlName="city" type="text" />

    <label for="codigo_postal">Código Postal:</label>
    <input id="codigo_postal" formControlName="cp" type="text" />

    <label for="telefono">Teléfono:</label>
    <input id="telefono" formControlName="phone" type="text" />

    <div class="formButtons">
        <button type="submit">Agregar</button>
        <button routerLink="/providers">Volver</button>
    </div>

</form>