form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

form input {
    padding: 8px;
    border: 1px solid #444;
    background-color: #333;
    color: #e0e0e0;
    width: 100%;
}

.formButtons {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
}

.error {
    margin-top: 3px;
    color: red;
    font-size: 12px;
}
